
@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf);

}
:root{
        --cor1: #A3FFFF;
        --cor2: #2AE1A1;
        --cor3: #316154;
    }
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--cor1);
    
}
header{
    background-image: linear-gradient(to top, rgba(31, 63, 52, 0.859), rgb(26, 221, 153), rgba(138, 254, 206, 0.897));
    padding-top: 20px;
    box-shadow: 0px 0px 10px #182f28c6; 
}
header > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.516);
    
}
header > h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
    text-align: center;
    margin:auto;
    max-width: 450px;
    font-size: 18px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}
header > nav{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    text-decoration: none;
    text-align: left;
    max-width: 400px;
    
}
header > nav > a{
    color: rgb(254, 254, 254);
    font-size: 18px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    margin-right: 5px;
    text-decoration: none;
    
    
    
}

header > nav > a:hover{
    background-color: rgba(2, 42, 38, 0.327);
    padding: 10px 2px 10px 2px;
    border-radius: 2px;
    transition-duration: 0.3s;
    
}
main p {
    font-size: 0.8em;
}
main{
    display: block;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px #182f28c6;  
    max-width: 800px;
    min-width: 250px;
    padding: 20px;
    
}
main > article > p{
    text-align: justify;
    padding: 20px 0px;
    text-indent: 1em;
    font-size: 18px;
    
}

article > h1{
    font-family: android;
    font-size: 36px;
    
    text-align: center;
    box: #2d574b;
    text-shadow: 3px 3px 5px rgba(0, 128, 0, 0.73);
}
article > h2{
    font-family: android;
    font-size: 24px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    color: #2d574b;
    background-image: linear-gradient(to right, rgba(65, 197, 201, 0.696), transparent);
}
main a{
    color: rgb(0, 131, 0);
    text-decoration: none;
    font-weight: bold;
}
main a:hover{
    background-color: rgba(0, 0, 0, 0.415);
    color: white;
}
div.video{
    
    margin: 0px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative; 
}
div.video > iframe{
    position: absolute;
     top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
   
}
aside{
    background-color: #73f7c767;
    padding: 0px 10px 5px 10px;
    border-radius: 20px;

}
aside > h2{
    background-color: #01835e;
    padding: 10px;
    margin: 0px -10px ;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
aside > ul > li::before{
    content: "\2714 \00A0 \00A0";
    
}
aside a{
    color: rgb(0, 131, 0);
    text-decoration: none;
    font-weight: bold;
}
aside a:hover{
    background-color: rgba(0, 0, 0, 0.415);
    color: white;
}
abbr {
    text-decoration: none;
}
ul{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
   
}
ul > li{
    width: 50%;
    box-sizing: border-box;
}
footer{
   
    color: white;
    background-color: #2d574b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
    padding: 5px
}
footer > p{
    margin: 0px;
    text-align: center;
}
picture{
    display: block;
    width: 100%;
    height: auto;
}

picture img {
    max-width: 100%;
    height: auto; /* Mantém a proporção */
    display: block;
}
